<h1>TeleNotify Test</h1>
<a href="https://telegram.me/TeleNotifyBot" target="_blank">Message me on Telegram to get notifications!</a>
<br><br>
<a href="/message">Or send everyone a nice message!</a> (Please do not abuse this, or it will be removed.)
